<template>
  <footer class="page-footer">
    <div class="other-links">
      Other links go here
    </div>
    <div class="container">
      <h1>This is the footer</h1>
    </div>
  </footer>
</template>

<style lang="scss">
.other-links {
  background-color: black;
  color: white;
}
</style>
