<template>
  <div class="header">
    <div class="container">
      <div class="branding">
        <div class="logo"></div>
        <h1>SCP Foundation</h1>
        <h2>Secure, Contain, Protect</h2>
      </div>
      <div class="login">
        Create account or sign in
      </div>
      <div class="search-bar">
        <div class="text-box"></div>
        <button>Search</button>
      </div>
    </div>
    <div class="nav-bar">
      <div class="container">
        Links will go here
      </div>
    </div>
  </div>
</template>

<style>
.header {
  background-color: #663d3d;
}

.nav-bar {
  background-color: #333;
}
</style>
