<template>
  <div id="app">
    <TheHeader />
    <main id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <TheSideBar />
          </div>
          <div class="col-9">
            <router-view />
          </div>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import TheHeader from './components/TheHeader.vue';
import TheFooter from './components/TheFooter.vue';
import TheSideBar from './components/TheSideBar.vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default Vue.extend({
  components: {
    TheHeader,
    TheFooter,
    TheSideBar,
  },
});
</script>

<style lang="scss">
@font-face {
  font-family: "Bauhaus LT Demi";
  src: url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.eot");
  src: url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/af3da10c5b46a0db2731fe7b7433cf4a.svg#Bauhaus LT Demi")
      format("svg");
}

body {
  position: relative;
  min-height: 100vh;
}

  footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
</style>
